@media screen and (min-width: 1440px) {
  .wrapper {
    min-width: 1420px;
    margin: 0 auto;
  }

  .head-img {
    width: 1420px;
    background-image: url(../images/Desktop.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 4.375rem;
  }

  .header {
    display: flex;
    width: 65.27%;
  }

  .footer {
    width: 1420px;
  }

  .footer h3 {
    margin-bottom: 2.125rem;
  }

  .gallery {
    width: 65.27%;
    margin-bottom: 2.125rem;
  }

  .gallery .gallery-item {
    margin-bottom: 0;
  }

  .other-partn {
    width: 190px;
    margin-bottom: 4.6875rem;
  }
}
