@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf")
}

@font-face{
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-SemiBold.ttf")
}

@font-face{
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf")
}

@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf")
}

@font-face{
    font-family: "Roboto Black";
    src: url("../fonts/Roboto-Black.ttf")
}

.wrapper{
    width: 1170px;
    margin: auto;
}

header{
width: 100%;
max-width: 100%;
margin: 0 auto;
}

.logo{
    line-height: 92px;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Roboto Light", serif;
    color: #555252;
}

.logo::first-letter{
    color: #1abc9c;
    font-family: "Roboto Black", serif;

    }

.menu {
    line-height: 92px;
    float: right;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #0f0101;
    list-style: none;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

.menu a{
    font-size: 14px;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: bold;
    color: #0f0101;
}

.menu a:hover{
color: #1abc9c;
}

.menu li:last-child{
margin-right: 0px;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.slider{
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)), url("../img/slide1.jpg");
    margin: 0 auto;
    margin-bottom: 100px;
}

h2{
    text-transform: uppercase;
    text-align: center;   
    vertical-align: middle; 
    font-family: "Roboto Black";
    font-size: 48px;
    color: #515151;
    margin-bottom: 132px;
}

.products{
    list-style: none;
    padding-bottom: 100px;
}

.products li{
    float: left;
    width: 23%;
    margin-right: 2.5%;
    margin-bottom: 30px;
}

.products li:nth-child(4n){
    margin-right: 0;
}

.products li:nth-last-child(-n + 4){
    margin-bottom: 0;
}

.card img{
    display: block;
    /* width: 100%; */
    height: 322px;
    /* object-fit: cover; */
}

h4::after{
    
    display:block;
    content: " ";
    width: 136px;
    border-bottom: 3px solid rgb(26, 188, 156);
    margin: auto;
    margin-left: 0px;
    margin-top: 15px;
}

.latest_news{
    list-style: none;
    padding-bottom: 100px;
}

.latest_news li{
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 80px;
}

.latest_news img{
    display: block;
    width: 100%;
}

.latest_news li:nth-child(3n){
    margin-right: 0;
}

.latest_news li:nth-last-child(-n + 3){
    margin-bottom: 0;
}

.latest_news h4{
    font-family: "Open Sans Semibold";
    font-size: 18px;
    line-height: 1.44;
    margin-bottom: 50px;
    color: #555252;
}

.latest_news p{
    font-family: "Open Sans";
    font-size: 14px;
    color: #555252;
    line-height: 1.85;
    margin-bottom: 10px;
}

button{
    border-radius: 3px;
    background-color: rgb(78, 198, 171);
    width: 159px;
    height: 51px;
    font-family: "Open Sans Light";
    color: #fff;
    font-size: 16px;
    border: 1px solid rgb(78, 198, 171);
}

a {
    font-family: "Roboto Black";
    color: #fff;
    background-color: rgb(50, 50, 50);
    width: 100%;
    padding: 14px 0 13px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}

h3:hover{
    color: #fff;
    background-color: #1abc9c;
}

h2::after{
    display:block;
    content: " ";
    width: 164px;
    border-bottom: 7px solid rgb(26, 188, 156);
    margin: auto;
    margin-top: 33px;
}