@font-face{
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf")
}

@font-face{
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-SemiBold.ttf")
}

@font-face{
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf")
}

@font-face{
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf")
}

@font-face{
    font-family: "Roboto Black";
    src: url("../fonts/Roboto-Black.ttf")
}

@font-face{
    font-family: "Pe-icon-7-stroke";
    src: url("../fonts/Pe-icon-7-stroke.ttf")
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

header{
/* width: 100%; */
max-width: 100%;
margin: 0 auto;
}

.logo{
    line-height: 92px;
    float: left;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Roboto Light", serif;
    color: #555252;
}

.logo::first-letter{
    color: #1abc9c;
    font-family: "Roboto Black", serif;

    }

.menu {
    line-height: 92px;
    float: right;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #0f0101;
    list-style: none;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

.menu a{
    font-size: 14px;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: bold;
    color: #0f0101;
}

.menu a:hover{
color: #1abc9c;
}

.menu li:last-child{
margin-right: 0px;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.slider{
    position: relative;
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 2, 0.52), rgba(0, 0, 2, 0.52)), url("../img/slide1.jpg");
    margin: 0 auto;
    margin-bottom: 100px;
}

h2{
    text-transform: uppercase;
    text-align: center;   
    vertical-align: middle; 
    font-family: "Roboto Black";
    font-size: 48px;
    color: #515151;
    margin-bottom: 132px;
}

h2::after{
    display:block;
    content: " ";
    width: 164px;
    border-bottom: 7px solid rgb(26, 188, 156);
    margin: auto;
    margin-top: 33px;
}

.products{
    list-style: none;
    padding-bottom: 100px;
}

.products li{
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products li:nth-child(4n){
    margin-right: 0;
}

.products li:nth-last-child(-n + 4){
    margin-bottom: 0;
}

.card{
    position: relative;
}

.card:hover .card-name{
        background-color: rgb(26, 188, 156);
}

.card:hover .card-price{
    background-color: rgb(127, 217, 199);
}

.card:hover .card-icons{
    display: block;
}

.card:hover .rectangle{
    display: block;
  }

  .card:hover .addtocart{
    display: block;
  }
  
  .rectangle{
    display: none;
    position: absolute;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    opacity: 0.549;
    width: 235px;
    height: 302px;
  }

.card img{
    display: block;
    height: 322px;
    object-fit: cover;
}

.card-content{
    font-size: 0px;
        font-family: "Roboto Black", sans-serif;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        
}
.card-name{
    font-size: 18px;
    display: inline-block;
    background-color: rgb(50, 50, 50);
    width: 171px;
    padding: 13px;
}

.card-price{
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background-color: rgb(140, 140, 140);
    padding: 13px;
    width: 32px;
}

.card-icons{
    display: none;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.card-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
}

.diamond{
    background-image: url("../ico/diamond.svg");
}

.shuffle{
    background-image: url("../ico/shuffle.svg");
}

.clock{
    background-image: url("../ico/clock.svg");
}

.cart{
    background-image: url("../ico/cart.svg");
}

.card-icon:hover{
    background-color: rgb(26, 188, 156);
}

.addtocart:hover{
    background-color: rgb(26, 188, 156);
}

.addtocart {
    display: inline-block;
    display: none;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }

  .addtocart:before {
      font-size: 30px;
    font-family: "Pe-icon-7-stroke";
    content: "\e66e  ";
    vertical-align: middle;
    line-height: 50px;
  }

  .angle_left, .angle_right{
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(78, 198, 171);
    opacity: 0.651;
    top: 50%;
}

  .angle_left{
left: 245px;
transform: translateY(-50%);
    background-image: url("../ico/angle_left.svg");
  }

  .angle_right{
    right: 245px;
    transform: translateY(-50%);
    background-image: url("../ico/angle_right.svg");
  }
 
  .slider:hover .angle_left{
    background-color: rgb(127, 217, 199);
    opacity: 1;
}

.slider:hover .angle_right{
    background-color: rgb(127, 217, 199);
    opacity: 1;
}