@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf")
}

@font-face{
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face{
    font-family: "KaushanScript";
    src: url("../fonts/KaushanScript-Regular.ttf")
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face{
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf")
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.masthead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo{
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: #95e1d3;
    text-decoration: none;
}

.menu ul{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: flex;
    }

.menu a{
    font-size: 14px;
    text-decoration: none;
    font-family: "Montserrat";
    color: #95e1d3;
    margin-right: 30px;
    padding: 12px 0px;
}

.menu a:hover{
color: rgb(243, 129, 129);
border-bottom: 3px solid rgb(243, 129, 129);
}

h3{
    font-family: "KaushanScript";
    font-size: 24px;
    vertical-align: middle; 
    text-align: center;  
    color: #515151;
    padding-bottom: 20px;
}

h4{
    text-transform: uppercase;
    text-align: center;   
    vertical-align: middle; 
    font-family: "Montserrat-Bold";
    font-size: 30px;
    color: #515151;
    margin-bottom: 110px;
}

h4::after{
    display:block;
    content: " ";
    width: 60px;
    border-bottom: 3px solid rgb(243, 129, 129);
    margin: auto;
    margin-top: 45px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.service-content{
    max-width: 300px;
}

.service{
    display: flex;
    padding-bottom: 100px;
}


.service-ico{
    height: 35px;
    padding: 0 25px;
}

.service-name{
    display: block;
    font-family: "Montserrat";
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.service-description{
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    display: block;
    color: rgb(153, 153, 153);
}

h5{
    text-align: center;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    width: 980px;
    margin: 0 auto;
    margin-bottom: 95px;
}


.team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.team-member{
    max-width: 380px;
    position: relative;
}

.team-member:hover .Dix{
    box-shadow: 10px 10px rgb(149, 225, 211);
    transition-duration: 200ms ;
    transform: translate(-10px, -10px);
    background-image: linear-gradient(  rgba(243, 129, 129, 0.9) , 
                                        rgba(252, 227, 138, 0.9)), 
                                        url("../img/Mathew Dix.jpg");
    }

.Dix{
    width: 380px;
    height: 470px;
    background-image: url("../img/Mathew Dix.jpg");
}

.team-member:hover .Campbell{
    box-shadow: 10px 10px rgb(149, 225, 211);
    transition-duration: 200ms ;
    transform: translate(-10px, -10px);
    background-image: linear-gradient(  rgba(243, 129, 129, 0.9) , 
                                        rgba(252, 227, 138, 0.9)), 
                                        url("../img/Christopher Campbell.jpg");
    }

.Campbell{
    width: 380px;
    height: 470px;
    background-image: url("../img/Christopher Campbell.jpg");
}

.team-member:hover .Fertig{
    box-shadow: 10px 10px rgb(149, 225, 211);
    transition-duration: 200ms;
    transform: translate(-10px, -10px);
    background-image: linear-gradient(  rgba(243, 129, 129, 0.9) , 
                                        rgba(252, 227, 138, 0.9)), 
                                        url("../img/Michael Fertig.jpg");
    }

.Fertig{
    width: 380px;
    height: 470px;
    background-image: url("../img/Michael Fertig.jpg");
}

.team-member:hover .social-icons{
    display: block;
}

.social-icons{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.social-icon{
    margin-right: -3px;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
}

.social-icon:hover{
    background-color: rgb(149, 225, 211);
}

.facebook{
    background-image: url("../ico/facebook.png");
}

.twitter{
    background-image: url("../ico/twitter.png");
}

.pinterest{
    background-image: url("../ico/pinterest.png");
}

.instagram{
    background-image: url("../ico/instagram.png");
}



.member-photo{
    margin-bottom: 30px;
}

.member-name{
    text-align: center;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
}

.member-position{
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto-LightItalic";
    color: rgb(153, 153, 153);
    margin-bottom: 85px;
}

footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(153, 153, 153);
    height: 60px;
}

.copyrights{
    font-family: "Montserrat";
    font-style: 14px;
    color: rgb(51, 51, 51);
}

.subscribe{
    text-align: center;
}

input[type="email"] {
font-size: 15px; 
font-family: "Roboto-LightItalic";
width: 230px;
padding: 9px;

}

input[type="submit"] {
    font-family: "Montserrat-Bold";
    height: 40px;
    width: 150px;
    background-color: #95e1d3;
    border: none;
    color: #fff;
    margin-left: -4px;
}

.copyrights a{
    color: rgb(243, 129, 129);
    text-decoration: none;
}